/* STYLING FOR SERVICES PAGE */

.services-title{
    font-size: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
}
.main-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.sub-flex {
    border: 1px solid #000;
    background-color: rgb(240, 240, 240);
    width: 25rem;
    height: 13rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.card-btn {
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: .25rem;
}

/* HR LINES */
.first-hr {
    margin: 2rem 0 2rem 0;
}
.last-hr {
    margin-bottom: 2rem;
    border: 1px solid #000;
}

/** FOOTER **/
.some-facts {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;    
}
.facts-txt {
    width: 25rem;
    margin-bottom: 1rem;
}
ul {
    list-style-type: square;
    margin-left: 1.2rem;
}
li {
    margin-bottom: 1rem;
}
footer {
    width: 100%;
    text-align: center;
    padding: 5rem;
}
